html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 8px auto; 
  background-color: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
}

img{
  max-height: 100%;
}



/* HEADER */
.header {
  height: 30px;
}

/* PROJEKTNAME */
.pr-name {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1.05rem;
  height: 40px;
}

.content {
  padding: 77px auto 55px auto;
  margin-top: 5px;
}


/* PROJEKINFO */
.pr-info {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  background-color: white;
  height: 40px;
  bottom: 25px;
}

/* FOOTER */
.foot {
  max-width: 1980px;
  margin: 0 auto;
  height: 25px;
  bottom: 0;
  position: fixed;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  color: grey;
}



/* TEXT */

.p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 0.78;
}

.p_captation {
  background-color: white;
}

.text-header-l {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
}

.text-header-m {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
  color: black;
}

.infoblock {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  text-align: justify;
}

.infoblock_bold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  text-align: justify;
}

.text-footer {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  color: grey;
}

.logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.65rem;
}


/* LINK STYLING */

.link  {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  text-decoration: none;
}
.link:hover  {
  color: black;
  text-align: center;
  text-decoration: underline;
}

.link_bold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  text-decoration: none;
}

.link_bold:hover  {
  color: black;
  text-align: center;
  text-decoration: underline;
}

/* CAROUSEL */

.carousel-caption {
  /* text-align: right; */
  position: relative;
  left: 0%;
  top: -50px;
  height: 2rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  font-style: italic;
  }



 /* DEVELOP BACKGROUNDS */
  .bkgrd_1  {
    background-color: rgb(255, 255, 255);
  }

  .bkgrd_2  {
    background-color: rgb(255, 255, 255);
  }

  .bkgrd_3  {
    background-color: rgb(255, 255, 255);
  }

  /* END DEVELOP BACKGROUNDS */