html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 8px auto; 
  background-color: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
}

img{
  max-height: 100%;
}



/* HEADER */
.header {
  height: 30px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
  color: black;
}

/* PROJEKTNAME */
.pr-name {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1.05rem;
  height: 40px;
}

.content {
  padding: 77px auto 50px auto;
  margin-top: 5px;
}


/* PROJEKINFO */
.pr-info {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  background-color: white;
  height: 35px;
  bottom: 25px;
}

/* FOOTER */
.foot {
  height: 25px;
}



/* TEXT */

.p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

.p_cpaptation {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: white;
}

.text-header {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
}

.text-footer {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  color: grey;
}

.logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.55rem;
}



 /* DEVELOP BACKGROUNDS */
  .bkgrd_1  {
    background-color: rgb(255, 255, 255);
  }

  .bkgrd_2  {
    background-color: rgb(255, 255, 255);
  }

  .bkgrd_3  {
    background-color: rgb(255, 255, 255);
  }

  /* END DEVELOP BACKGROUNDS */