html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 0 auto;
  margin-top: 8.5vh;
  background-color: white;
}

.collapsing {
    -webkit-transition: 0.01s;
    transition: 0.01s;
    display: none;
}

.btn{
	box-shadow: none !important
    /* this how we remove bootstrap button outline */
}

.header {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 1.05rem;
}


.p1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    text-align: justify;
    font-size: 0.85rem;
}

.main-wrapper{
    height: 100vh;
}

/* NAVIGATION LINKS */
.link  {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: black;
    text-align: center;
  }
  
  .link_active  {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: black;
    text-align: center;
    text-decoration: underline;
  }


  /* DEVELOP BACKGROUNDS */
  .bkgrd_1  {
    background-color: white;
  }

  .bkgrd_2  {
    background-color: white;
  }

  .bkgrd_3  {
    background-color: white;
  }